server:
  port: 8080
spring:
  application:
    name: "ms-worker-processor"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
aws:
  dynamodb:
    endpoint: "http://localhost:8010"
  region: "us-east-1"
table-name: "squared-batch-registry"
adapter:
  sqs:
    region: "us-east-1"
    queueUrl: "http://localhost:4566/000000000000/numbers"
    endpoint: "http://localhost:4566"
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"
